* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  display: flex;
  justify-content: center;
  margin: 30px auto;
}
input[type="search"] {
  display: block;
  padding: 20px;
  margin-right: 30px;
}
select , input, option {
  width: 500px;
  height: 48px;
  border-radius: 10px;
  font-size: 1.2rem;
  border: 2px solid rgb(191, 155, 27);
  box-shadow: 0px 0px 8px rgba(191, 155, 27, 0.69);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container .card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin: 20px;
  padding: 30px;
  width: 350px;
  max-height: 500px;
  background-color: antiquewhite;
}
.card img {
  border-radius: 15px;
}
.card .summary {
  overflow: auto;
}
select {
  width: 200px;
  font-size: 1.1rem;
  z-index: 3;
}
select option{
  z-index: auto;
}
.hide{
    display: none;
}